html, body {
    height: 100%;
    width: 100%;
}

#logo {
    margin: 0;
    width: 225px;
    height: 87px;
    margin-left: 20px;
}

header {
    margin: auto;
    padding: 0;
}

.header-links {
    border: 3px;
    background-color: deepskyblue;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.header-links li {
    display: inline;
}

.header-links a {
    display: inline-block;
    padding: 10px;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: dodgerblue;
}

li a:hover {
    background-color: #111;
}
.topic{
    float: left;
    width: 250px;
    height: 400px;
    background:#FFF;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 1px;
    cursor: pointer;
    left:0px;
}

.effect{
    box-shadow: 0 10px 6px -6px #777;
}
.topic:hover {
    background-color: skyblue;
    border-bottom: 1px solid black;
    color: indianred;
    text-shadow: 1px 1px blue;
    border-radius: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}
.topic img{
    float: inherit;
    margin: 5px 5px 5px 5px;
}


.nav {
    background: skyblue;
}

.nav ul {
    list-style-type: disc;
    padding: 0;
}

.nav ul a {
    text-decoration: skyblue;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }
}

#revised-header #revised-logo, #revised-header #revised-search {
    width: 50%;
    float: left;
    min-height: 80px;
}
