html, body {
    height: 100%;
    width: 100%;
}

#logo {
    margin: 0px;
    width: 225px;
    height: 87px;
    margin-left: 0px;
}

header {
    margin:0px;
    padding: 0px;
}

.header-links {
    border: 3px;
    background-color: deepskyblue;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.header-links li {
    display: inline;
}

.header-links a {
    display: inline-block;
    padding: 10px;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: dodgerblue;
}

li a:hover {
    background-color: #111;
}

.topic {
    float: left;
    width: 250px;
    height: 400px;
    border: 1px dashed skyblue;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 1px;
    cursor: pointer;
    left: 0px;
}

.effect {
    box-shadow: 0 10px 6px -6px #777;
}

.col-md-3:hover {
    background-color: skyblue;
    border-bottom: 1px solid black;
    color: indianred;
    text-shadow: 1px 1px blue;
    border-radius: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.topic img {
    float: inherit;
    margin: 5px 5px 5px 5px;
}

.nav {
    background: skyblue;
}

.nav ul {
    list-style-type: disc;
    padding: 0;
}

.nav ul a {
    text-decoration: skyblue;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }
}

#revised-header #revised-logo, #revised-header #revised-search {
    width: 50%;
    float: left;
    min-height: 80px;
}

.footer-links {
    background-color: #dddddd;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-links li {
    list-style: none;
    margin-left: 12px;
    text-align: center;
    display: inline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

article img {
    margin: 0 1.5em 1.5em 0;
    box-shadow: 0 0 8px 4px black;
    border: .5em groove #fff;
}

body {
    margin: 3% auto;
    background: #ddd;
    text-shadow: 0 .8px #111;
}

article {
    border: .5em outset #aac !important;
    border-radius: 1em !important;
    box-shadow: 0 0 23px #000 !important;
}

header span.glyphicon {
    color: #DDD;
    text-shadow: 2px 2px #111 !important;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

/*Note that the blur() Effect is not supported as css3 in FFGecko and IEX*/

/***** Modal *****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

