

#all-topic{
    margin : auto;
    padding-top : 5px;
    width : 638px;
    height : 480px;
    border : 2px solid black;
    padding-left: 5px;
}



section{
    width : 900px;
    margin : auto;
}
#topic{
    float : left;
    border : 1px solid gainsboro;
    margin-right: 5px;
    margin-bottom : 5px;
    padding : 5px;
    width : 140px;
    height : 140px;
    cursor: pointer;
}

#topic:hover{
    background-color: aquamarine;
    border-bottom : 1px solid black;
    color : indianred;
    text-shadow: 1px 1px blue;
    border-radius : 15px;
}
#all-topic:hover{
    height : 482px;
}